.navbar {
    background-color: $hud;
    .navbar-brand {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
            .nav-link {
                font-family: 'Inter', sans-serif;
                font-size: 200;
            }
    }
}

.btn-primary {
    background-color: $boton-dng !important;
    border-color: $boton-dng !important;
}
.btn-secondary {
    background-color: $boton !important;
    border-color: $boton !important;
}
